<?xml version="1.0" encoding="UTF-8" ?>
<!--
    JBZoo CrossCMS

    This file is part of the JBZoo CCK package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    CrossCMS
    @license    MIT
    @copyright  Copyright (C) JBZoo.com,  All rights reserved.
    @link       https://github.com/JBZoo/CrossCMS
-->
<phpunit bootstrap="./tests/autoload/composer.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
        >

    <php>
        <env name="PATH_WORDPRESS" value="./resources/wordpress"/>
    </php>

    <testsuites>
        <testsuite name="General">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
