<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./tests/autoload/composer.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="false"
        >

    <php>
        <env name="PATH_JOOMLA" value="./resources/joomla"/>
    </php>

    <testsuites>
        <testsuite name="General">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
