<?xml version="1.0" encoding="UTF-8" ?>
<!--
    JBZoo CrossCMS

    This file is part of the JBZoo CCK package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    CrossCMS
    @license    MIT
    @copyright  Copyright (C) JBZoo.com,  All rights reserved.
    @link       https://github.com/JBZoo/CrossCMS
-->
<phpunit bootstrap="./tests/autoload/all.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnFailures="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
        >

    <php>
        <env name="PATH_JOOMLA" value="./resources/joomla"/>
    </php>

    <testsuites>
        <testsuite name="General">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/tests/BrowserEmulatorTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/clover/joomla.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>

</phpunit>
